.header {
    margin: 15px;
    border-radius: 18px;
    padding: 0px;
    list-style: none;
    background-color: rgba(0, 255, 234, 0.02);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);




}