.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 97vh;

    padding: 0 50px;


}

.container_blur {

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 500px;
    width: 650px;
    background-color: rgba(0, 255, 234, 0.02);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
}

.profile_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 550px;
    width: 480px;
    border-radius: 20px;
    overflow: hidden;

}

.profession {

    text-align: center;
}

.brands_icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;


}

.brands_icons i {
    font-size: 25px;
    padding: 0 10px;



}

.download_cv_container {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-top: 2px solid transparent;

    border-image: linear-gradient(0.25turn, rgba(46, 143, 227, 0), rgba(0, 157, 255, 0.336), rgba(151, 4, 164, 0));
    border-image-slice: 1;

}

.download_cv_button {
    width: 100%;
    padding: 22px;


}

.my_name {
    padding: 0px;
    font-size: 32px;
    text-align: center;
}

.contact_button {
    width: 100%;
    padding: 22px;
    border-left: 2px solid transparent;
    border-image: linear-gradient(0.0turn, rgba(46, 143, 227, 0), rgba(0, 157, 255, 0.336), rgba(151, 4, 164, 0));
    border-image-slice: 1;

}

.blur {
    background-color: rgba(0, 255, 234, 0.02);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -ms-backdrop-filter: blur(5px);
}



.image_profile {
    position: relative;
    left: 0;
    top: 0;

    height: 312px;





}


.body_card_profile {
    padding: 20px;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;

}

.body_card_profile {
    padding: 20px;

}